<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="USDJPY" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="EURUSD" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <section name="global" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </configSections>
    <USDJPY>
        <add key="SymbolPath-Dukascopy" value="USDJPY" />
        <add key="SpreadMultiplier" value="1" />
        <add key="SpreadAddition" value="0" />
        <add key="MinSpread" value="1" />
        <add key="MaxSpread" value="0" />
        <add key="OverrideDigits" value="False" />
        <add key="Digits" value="3" />
        <add key="OverrideContractSize" value="False" />
        <add key="ContractSize" value="100000" />
        <add key="OverrideStopsLevel" value="False" />
        <add key="StopsLevel" value="0" />
        <add key="OverrideFreezeLevel" value="False" />
        <add key="FreezeLevel" value="0" />
        <add key="OverrideTickValue" value="False" />
        <add key="TickValue" value="0" />
        <add key="OverrideTickSize" value="False" />
        <add key="TickSize" value="0" />
        <add key="OverrideBaseCurrency" value="False" />
        <add key="BaseCurrency" value="USD" />
        <add key="OverrideGtcPendings" value="False" />
        <add key="GtcPendings" value="True" />
        <add key="OverrideSwapSettings" value="False" />
        <add key="SwapEnabled" value="True" />
        <add key="SwapType" value="0" />
        <add key="LongSwap" value="8.82" />
        <add key="ShortSwap" value="-24.24" />
        <add key="OverrideProfitMode" value="False" />
        <add key="ProfitMode" value="0" />
        <add key="OverrideFreeMarginMode" value="False" />
        <add key="FreeMarginMode" value="1" />
        <add key="OverrideMarginMode" value="False" />
        <add key="MarginMode" value="0" />
        <add key="OverrideStopout" value="False" />
        <add key="Stopout" value="20" />
        <add key="OverrideStopoutMode" value="False" />
        <add key="StopoutMode" value="0" />
        <add key="OverrideMarginInitial" value="False" />
        <add key="MarginInitial" value="100000" />
        <add key="OverrideMarginMaintenance" value="False" />
        <add key="MarginMaintenance" value="0" />
        <add key="OverrideMarginHedged" value="False" />
        <add key="MarginHedged" value="0" />
        <add key="OverrideMarginDivider" value="False" />
        <add key="MarginDivider" value="1" />
        <add key="OverrideMarginCurrency" value="False" />
        <add key="MarginCurrency" value="USD" />
        <add key="UsePriceFactor" value="False" />
        <add key="PriceFactor" value="1" />
        <add key="BarShiftH4" value="0" />
        <add key="BarShiftD1" value="0" />
    </USDJPY>
    <EURUSD>
        <add key="SymbolPath-Dukascopy" value="EURUSD" />
        <add key="SpreadMultiplier" value="1" />
        <add key="SpreadAddition" value="0" />
        <add key="MinSpread" value="1" />
        <add key="MaxSpread" value="0" />
        <add key="OverrideDigits" value="False" />
        <add key="Digits" value="5" />
        <add key="OverrideContractSize" value="False" />
        <add key="ContractSize" value="100000" />
        <add key="OverrideStopsLevel" value="False" />
        <add key="StopsLevel" value="0" />
        <add key="OverrideFreezeLevel" value="False" />
        <add key="FreezeLevel" value="0" />
        <add key="OverrideTickValue" value="False" />
        <add key="TickValue" value="0" />
        <add key="OverrideTickSize" value="False" />
        <add key="TickSize" value="0" />
        <add key="OverrideBaseCurrency" value="False" />
        <add key="BaseCurrency" value="EUR" />
        <add key="OverrideGtcPendings" value="False" />
        <add key="GtcPendings" value="True" />
        <add key="OverrideSwapSettings" value="False" />
        <add key="SwapEnabled" value="True" />
        <add key="SwapType" value="0" />
        <add key="LongSwap" value="-6.31" />
        <add key="ShortSwap" value="2.73" />
        <add key="OverrideProfitMode" value="False" />
        <add key="ProfitMode" value="0" />
        <add key="OverrideFreeMarginMode" value="False" />
        <add key="FreeMarginMode" value="1" />
        <add key="OverrideMarginMode" value="False" />
        <add key="MarginMode" value="0" />
        <add key="OverrideStopout" value="False" />
        <add key="Stopout" value="20" />
        <add key="OverrideStopoutMode" value="False" />
        <add key="StopoutMode" value="0" />
        <add key="OverrideMarginInitial" value="False" />
        <add key="MarginInitial" value="100000" />
        <add key="OverrideMarginMaintenance" value="False" />
        <add key="MarginMaintenance" value="0" />
        <add key="OverrideMarginHedged" value="False" />
        <add key="MarginHedged" value="0" />
        <add key="OverrideMarginDivider" value="False" />
        <add key="MarginDivider" value="1" />
        <add key="OverrideMarginCurrency" value="False" />
        <add key="MarginCurrency" value="EUR" />
        <add key="UsePriceFactor" value="False" />
        <add key="PriceFactor" value="1" />
        <add key="BarShiftH4" value="0" />
        <add key="BarShiftD1" value="0" />
    </EURUSD>
    <global>
        <add key="UseTickDataEnabled" value="True" />
        <add key="Source" value="Dukascopy" />
        <add key="GMTOffset" value="2" />
        <add key="DST" value="1" />
        <add key="UseVariableSpread" value="False" />
        <add key="SlippageEnabled" value="True" />
        <add key="ReproducibleSlippage" value="True" />
        <add key="OptimizationSlippage" value="False" />
        <add key="LimitOrderSlippage" value="True" />
        <add key="StopOrderSlippage" value="True" />
        <add key="SlOrderSlippage" value="True" />
        <add key="TpOrderSlippage" value="True" />
        <add key="LatencyBasedSlippage" value="False" />
        <add key="MinimumSlippageDelay" value="200" />
        <add key="MaximumSlippageDelay" value="300" />
        <add key="MinimumPendingSlippageDelay" value="100" />
        <add key="MaximumPendingSlippageDelay" value="150" />
        <add key="DealerStyleSlippage" value="True" />
        <add key="MaxFavorableSlippage" value="10" />
        <add key="MaxUnfavorableSlippage" value="10" />
        <add key="UseCustomSlippageChance" value="False" />
        <add key="CustomSlippageChance" value="100" />
        <add key="UseCustomFavorableChance" value="False" />
        <add key="FavorableSlippageChance" value="50" />
        <add key="StandardDeviationSlippage" value="False" />
        <add key="SlippageMean" value="0" />
        <add key="SlippageStDev" value="30" />
        <add key="OverrideMinLot" value="False" />
        <add key="MinLot" value="0.01" />
        <add key="OverrideMaxLot" value="False" />
        <add key="MaxLot" value="100" />
        <add key="OverrideLotStep" value="False" />
        <add key="LotStep" value="0.01" />
        <add key="OverrideLeverage" value="False" />
        <add key="Leverage" value="500" />
        <add key="OverrideCommissionSettings" value="False" />
        <add key="BaseCommission" value="0" />
        <add key="CommissionType" value="0" />
        <add key="CommissionPer" value="0" />
        <add key="BarsToPrefix" value="100" />
        <add key="LiveExecutionStoploss" value="True" />
        <add key="LiveExecutionTakeprofit" value="True" />
        <add key="LiveExecutionStop" value="True" />
        <add key="LiveExecutionLimit" value="True" />
        <add key="DataShift28Years" value="False" />
        <add key="UseFxtDuringOptimization" value="True" />
        <add key="SaveFxtWhenBacktesting" value="False" />
        <add key="SaveHstFilesWhenSavingFxt" value="False" />
        <add key="SaveHstFilesWhenBacktesting" value="False" />
        <add key="ReadOnlyFxtEncountered" value="3" />
        <add key="DeleteFxtAfterOptimization" value="True" />
        <add key="AdjustSlTpAfterSlippage" value="False" />
        <add key="EnforceSlippage" value="False" />
        <add key="SymbolSlippage" value="False" />
        <add key="DisableVolumeAdjustment" value="False" />
        <add key="UseExoticBars" value="False" />
        <add key="ExoticBarsType" value="1" />
        <add key="RenkoBarSize" value="100" />
        <add key="RenkoBarTrimWicks" value="True" />
        <add key="RenkoBarDigitsToRound" value="1" />
        <add key="RenkoBarOpenOffset" value="0" />
        <add key="RenkoBarReversalOpenOffset" value="100" />
        <add key="RenkoBarReversalBarSize" value="200" />
        <add key="RenkoBarType" value="Custom" />
        <add key="RangeBarSize" value="100" />
        <add key="UseSyntheticRangeBarClose" value="False" />
        <add key="TickBarSize" value="50" />
    </global>
</configuration>